# Disable gamescope as it is not installed on the host system
USE_GAMESCOPE=0

# Use hardware acceleration (set to 1 to force software rendering if it crashes)
SOFTWARE_GL=1

# Workaround for init race conditions on modern multicore CPUs
USE_STRACE=0

# Intercept OSS /dev/dsp calls and route to PulseAudio
USE_PADSP=1

LAUNCH_CMD="./run_t2.sh"
EXTRA_ENV="LD_PRELOAD=/usr/lib/libSDL-1.2.so.0"



